.banner-contact-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://res.cloudinary.com/dq1kn0913/image/upload/v1614613975/DestroyBoxing/contact_us_banner.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px;
  height: 268px;
}