// Specific CSS for your home-page
.banner-homepage {
  background-image: url("https://res.cloudinary.com/lauravannieuwland/image/upload/v1612126331/DestroyBoxing/banner-homepage.jpg");
  background-size: cover;
  background-position: center;
  padding: 150px;
  height: 1300px;
  display: flex;
}