<div id="main-container">
  <div class="container-about">
    <div class="text-about">
     <h1>Over Destroy Boxing</h1>

     
      <p> Op 40 jarige leeftijd maakt een sales manager uit de sport- mode branche de switch naar personal trainer boksen en kickboksen.
      Al snel blijkt dat veel mensen die komen trainen geen kennis hebben over welke handschoenen en scheenbeschermera aan te schaffen. 
      Na zeer succesvol onder private label te hebben geproduceerd was het tijd voor de volgende stap .... een eigen merk!
      </p>

      <p>Kickboksen is de laatste jaren ontzettend in populariteit gestegen en Nederland heeft inmiddels tienduizenden beoefenaars 
      die wel een vorm vd bokssport beoefenen. Naast het traditionele kickboksen is de groep die op recreatief niveau vele malen groter geworden.
      Denk hierbij aan o.a. boksfit, cardio boksen, kick fit, bokszaktraining, pink boxing, etc..
      De voor laatste groep is het niet alleen belangrijk dat de kwaliteit goed is, maar zeker ook het imago wat je wilt uitstralen.
      </p>

      <p>Hip feels good zeg maar, als je met je mooie outfit komt, moet je boks outfit natuurlijk ook tip top zijn .... het idee was geboren.
      De persoon in kwestie heet Roy, na overleg met marketing bureau 2 seconds werd Destroy geboren met bijbehorend logo.
      </p>



    </div>
    <div class="image-about">
      <%= cl_image_tag("DestroyBoxing/boks_houding_destroy_dames.jpg", class: "logo-navbar") %> 
    </div>
  </div> 
</div>