<div id="main-container">
  <div class="container-about">
    <div class="text-about">
     <h1>Over Destroy Boxing</h1>
      <p>Mijn naam is Roy van Straten en ik ben al sinds ruim 30 jaar actief in verschillende vechtsporten. 
      Met name boksen en kickboksen zijn mijn grote passie. Onlangs heb ik de certificaten “Boxing45” behaald 
      en de complete Kickboks instructeurs opleiding binnen de EFAA en UFW succesvol afgerond.</p>

      <p>Ik geef boks- en kickboksles in de regio Gorinchem en daarbuiten. Boksles wordt zowel privé als met een 
      klein groepje gegeven. De lessen zijn mogelijk vanaf 30 minuten. Snel vooruitgang boeken? Kies dan voor 
      personal training (1 op 1 training).</p>

      <p>Na ons korte intake gesprek breng ik je naar het gewenste niveau. Of ik je nu moet coachen, motiveren of 
      inspireren … alles is mogelijk! Jij bepaalt zelf wat we gaan doen.</p>
    </div>
    <div class="image-about">
      <%= cl_image_tag("DestroyBoxing/boks_houding_destroy_dames.jpg", class: "logo-navbar") %> 
    </div>
  </div> 
</div>