<div class="banner-contact-page">
  <h1>Contact ons</h1>
</div>

<div id="main-container">
  <div class="container-contactpage">
    <h1>Neem contact met ons op!</h1>
    <div class="contact-details">
      <div class="phone">
        <i class="fas fa-mobile-alt"></i>
        <p>telefoon</p>
        <p>06-24673673</p>
      </div>
      <div class="address">
        <i class="fas fa-map-marker-alt"></i>
        <p>Address</p>
        <p>Waaldijk 28</p>
        <p>4214 LB Vuren</p>
      </div>
      <div class="email">
        <i class="far fa-envelope"></i>
        <p>email</p>
        <p>info@royboxingclub.nl</p>
      </div>
    </div>
    <h3>Als je een vraag hebt, neem dan gerust contact met ons op of volg ons op onze social media</h3>
    <div class="icons-contact-page">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</div>