<div id="main-container">
  <h1>Contact</h1>
  <p>Meer weten? Bel Roy via 06-24673673 of mail naar</p>
  <p>info@royboxingclub.nl</p>

  <h1>Bedrijfsgegevens</h1>
  <p>KVK-nummer: 73499951</p>
  <p>Bank: NL38 RABO 0336 2353 21</p>

  <form action="/contact" method="get">
    <input type="text" name="member" placeholder="Who are you looking for?">
    <input type="submit">
  </form>
</div>