.yellow-bar {
  width: auto;
  height: 80px;
  background-color: $yellow1;
}

.footer-container {
  padding: 60px;
  line-height: 0.7;
}

.footer-container .div-top {
  display: flex;
  justify-content: space-between;
  // align-items: center;
}

.logo-footer {
  width: 150px;
}

.footer-link {
  text-decoration: none;
}

footer {
  a {
    text-decoration: none;
  }
}

.mail-to-footer {
  color: $yellow1;
  letter-spacing: 3px;
}

.footer-container .div-bottom {
  display: flex;
  justify-content: space-between;
}

.copyright {
  color: white;
  font-size: 10px;
}

.icons-footer .fab {
  font-size: 25px;
  margin: 0 100px 0 0;
}

.created-by {
  text-align: center;
  // width: 80%;
  margin: 100px 0 0 0;
}

.right-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}